<% layout('layouts/boilerplate') %> 
    <h1>Campgrounds</h1>
    <link rel="stylesheet" href="/stylesheet/star.css">  

    <% for(let camp of campground){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img alt="image" class="img-fluid" src="<%=camp.images[0].m_thumbnail%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-truncate-container">
                        <h5><%= camp.title %> </h5>
                        <p class="card-text"><%= camp.description %> </p>
                        <p class="card-text">
                            <small class="muted-text"><%= camp.location %></small>
                        </p>
                        <a href="campground/<%= camp._id %>" class="btn btn-light">View</a>
                    </div>
                </div>
            </div>
        </div>

    <% } %> 

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <% for(let i=1; i<=totalPage; i++){ %>
            <% if(currPage == i){ %>
                <% status = "active" %> 
            <% } else { %> 
            <%  status ="" %> 
            <% } %>
            <li class="page-item <%=status%> "><a class="page-link" href="http://localhost:3000/campground?page=<%=i%> "><%= i %> </a></li>
        <% } %> 
    </ul>
    </nav>
